<div class="container-fluid">
    <div>
        <div>
            <div *ngIf="list.length == 0" class="alert alert-secondary">List is Empty</div>
            <ul class="list-group" *ngFor="let n of list">
                <button class="list-group-item list-group-item-action" (click)="onClick(n)"
                    style="word-wrap: break-word;">{{n.name}}</button>
            </ul>
        </div>
        <div class="mb-3 p-3 border">
            <h4>Search PDF:</h4>
            <input type="text" class="form-control" (keyup)="search($event)">
            <ul class="list-group" *ngFor="let f of found">
                <button class="list-group-item list-group-item-action" (click)="onClick(f)"
                    style="word-wrap: break-word;">{{f.name}}</button>
            </ul>
        </div>
        <div class="mt-3 p-3 mb-3 border">
            <h4>Upload PDF:</h4>
            <form enctype="multipart/form-data" [action]="fileUploadUrl" method="post">
                <div class="form-group">
                    <label for="selectFile">Select PDF:</label>
                    <input class="form-control-file" required="true" type="file" name="file" id="selectFile">
                </div>
                <div class="form-group">
                    <label for="filename">PDF File Name:</label>
                    <input class="form-control" required="true" type="text" name="filename"
                        placeholder="Enter file name" id="filename">
                </div>
                <button class="btn btn-primary" type="submit" id="fileUpload">Upload</button>
            </form>
        </div>
    </div>
</div>