/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

Button {
  touch-action: manipulation;
}

html {
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}
